body {
  background: #0f172a;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 60px auto;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  color: white;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #334155;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
